$color-white: #fff;
$color-white-hover:#fff;

$color-black: #303030;
$color-gray: #a4a4a4;
$color-lite-gray: #d3d3d3;	

$color-green: #04e4a2;
$color-green-hover: #f9f9f9;

$color-orange: #ff8a80;
$color-orange-hover: #f48279;

$color-red: #ef5350;
$color-red-hover: #D73D59;

$color-blue: #3078bf;
$color-blue-hover: #7695bb;

$font-light: 'open_sanslight';
$font-normal: 'open_sansregular';
$font-semi-bold: 'helveticaneuecyrlight';
$font-bold: 'helveticaneuecyrroman';
$font-extra: 'gothambook';

$value-height: 480px;

$value-xs: 320px;
$value-sm: 768px;
$value-md: 1024px;
$value-slg: 1280px;
$value-lg: 1366px;
$value-xlg: 2560px;

$container-width: 108rem;